/* -- DARK BLUE -- */

.bg-dark-blue-gray-90 {
  background-color: #000a12;
}

.bg-blue-gray-90 {
  background-color: #263238;
}

/* -- TEAL -- */

.bg-dark-teal-90 {
  background-color: #00251a;
}

.bg-teal-90 {
  background-color: #004d40;
}

.bg-light-teal-90 {
  background-color: #39796b;
}
