doctype HTML
html(lang="en")
  head
    title Wellington Mendoza - Resume
    meta(name="viewport" content="width=device-width, initial-scale=1")

  body.helvetica.w-100

    section.w-100.bg-dark-teal-90.pv4.pl4.shadow-5
      .f1.f-subheadline-ns.lh-title.white Wellington Mendoza
      .f3.f2-ns.pl3.white-80 Full-Stack Web Developer

    section.w-100.dt.pl5.bg-light-teal-90.pv4.f5.lh-copy
      .fl.pr2.tr.white-80.dn.db-ns
        div City
        div Phone
        div Email
        div Social

      .fl.pl1.tl.white.b
        div Guayaquil - Ecuador
        div (+593) 96 825 4028
        div wellington.mendoza.contact@gmail.com
        div
          a.link.white.on-underline.ph1(target="_blank" href="https://github.com/well1791/")
            img(src="../assets/img/icons/github32px.png" height="18" width="18")
          a.link.white.no-underline.ph1(target="_blank" href="https://twitter.com/well1791/")
            img(src="../assets/img/icons/twitter400px.png" height="18" width="18")
          a.link.white.no-underline.ph1(target="_blank" href="https://www.linkedin.com/in/wellington-mendoza-826931127/")
            img(src="../assets/img/icons/in14px.png" height="18" width="18")

    section.ph4.lh-copy
      section.bg-white.mv4.bg-white.black-80.shadow-3.mw7
        .bg-dark-teal-90.white.pv3.ph4.f3 Experience
        .ph3-ns
          .dt.w-100.pv3.bb.b--black-10
            .fl.w-20.tr.pr3.br.b--black-20.black-60.f5
              div Stack Builders
              .f6 Jul 2016 - Aug 2018
              .f6 Quito - Ecuador
            .fl.w-80.pl3.measure-wide
              .b T1 - Web Developer
              p.
                I worked as a web consultant for at least three projects,
                also, I had my first community contributions by doing
                presentations at
                <a href="https://www.youtube.com/channel/UC-hUvwCQpNwwvW_eE3iPk5A">Quito Lambda</a>
                Conf.
              div <b>Tech Stack:</b> <code>Haskell</code>, <code>Yesod</code>,
                <code>Node.js</code>, <code>Express.js</code>, <code>Typescript</code>
                <code>Python</code>, <code>Django</code>,
                <code>PHP</code>, <code>Laravel</code>,
                <code>Ruby</code>, <code>Ruby on Rails</code>.

          .dt.w-100.pv3.bb.b--black-10
            .fl.w-20.tr.pr3.br.b--black-20.black-60.f5
              div FUNIBER
              .f6 Dec 2013 - Jul 2016
              .f6 Guayaquil - Ecuador
            .fl.w-80.pl3.measure-wide
              .b Middle - Web Developer
              p.
                This was my <strong>first</strong> job as a programmer.
                I worked on a SPA reengineering from an old PHP version
                to a new one. There, I was able to contribute into their
                core framework, both in front-end and back-end sides.
                <br>
                Also, I consider these initiatives as my
                first good contributions to the company:

              ul
                li Pushed the team to use Git and I trained them daily.
                li Integrated the main code with Composer.
                li.
                  Created the first deployment tools for production and staging
                  servers (plain bash script, not proud).
                li.
                  Set up the first local environment shareable throw virtual machines.
                  First VirtualBox, then Vagrant and finally Docker.

              div <b>Tech Stack:</b> <code>PHP</code>, <code>Code Igniter</code>.

          .dt.w-100.pv3.bb.b--black-10
            .fl.w-20.tr.pr3.br.b--black-20.black-60.f5
              div EDCOM - ESPOL
              .f6 2012 - 2013
              .f6 Guayaquil - Ecuador
            .fl.w-80.pl3.measure-wide
              .b Junior - Seminar Assistant (Linux Server Administration Seminar)

              p.
                My job was to make sure that everybody in the seminar understand
                the classes. Most of the times I was working on Linux servers fixing
                user errors and explaining the reason and solution to those errors.
                The rest of the time I was formating each computer in the lab with
                a fresh Linux installation.

              div <b>Tech Stack:</b> <code>Centos Server v6.3</code>.

      section.bg-white.mv4.bg-white.black-80.shadow-3.mw7
        .bg-dark-teal-90.white.pv3.ph4.f3 Skills
        table.w-100.collapse
          tbody
            tr.bb.b--black-20
              th.w-25.tl
              th.w-25.pa3.tl Proficient
              th.w-25.pa3.tl Competent
              th.w-25.pa3.tl Novice

            tr.bb.b--black-20
              td.pa3.b Languages
              td.pl3.tl
                p.
                  JavaScript
                  <br>
                  TypeScript
                  <br>
                  PHP
                  <br>
                  Bash
              td.pl3.tl
                p.
                  Haskell
                  <br>
                  Python
              td.pl3.tl
                p.
                  Ruby

            tr.bb.b--black-20
              td.pa3.b Frameworks
              td.pl3.tl
                p.
                  Express.js
              td.pl3.tl
                p.
                  Yesod
                  <br>
                  Vue.js
                  <br>
                  Django
                  <br>
                  Laravel
              td.pl3.tl
                p.
                  React.js
                  <br>
                  Ruby on Rails
                  <br>
                  Ansible

            tr.bb.b--black-20
              td.pa3.b Databases
              td.pl3.tl
                p.
                  PostgreSQL
              td.pl3.tl
                p.
                  MySQL
              td

            tr.bb.b--black-20
              td.pa3.b Agile
              td
              td.pl3.tl
                p.
                  Scrum Master
              td

            tr.bb.b--black-20
              td.pa3.b Editors / IDEs
              td.pl3.tl
                p.
                  Vim
                  <br>
                  Atom
                  <br>
                  JetBrains IDEs
              td.pl3.tl
                p.
                  Emacs
                  <br>
                  VS Code
              td.pl3.tl
                p.
                  SublimeText 3

      section.bg-white.mv4.bg-white.black-80.shadow-3.mw7
        .bg-dark-teal-90.white.pv3.ph4.f3 Education
        .ph3-ns
          .dt.w-100.pv3.bb.b--black-10
            .fl.w-20.tr.pr3.br.b--black-20.black-60.f5
              div ESPOL
              .f6 Jun 2008 - Jun 2016
              .f6 Guayaquil - Ecuador
            .fl.w-80.pl3.measure-wide
              .b Bachelor in Networking and Operating Systems
              ul
                li CCNA Course
                li Basic Linux Server administration
                li Intermediate Windows Server administration
                li Intermediate Active Directory Server administration

    section.w-100.dt.pl5.white.bg-light-teal-90.pv4
      .f5.lh-copy
        section.
          Languages - Interests - About Me

    script(src="../index.js")
