doctype HTML
html(lang="en")
  head
    title Wellington Mendoza - Resume
    meta(name="viewport" content="width=device-width, initial-scale=1")

  body.helvetica.w-100

    section.w-100.bg-dark-teal-90.pv4.pl4.shadow-5
      .f1.f-subheadline-ns.lh-title.white Wellington Mendoza
      .f3.f2-ns.pl3.white-80 Web Developer

    section.w-100.dt.pl5.bg-light-teal-90.pv4.f5.lh-copy
      .fl.pr2.tr.white-80.dn.db-ns
        div City
        div Phone
        div Email
        div Social

      .fl.pl1.tl.white.b
        div Guayaquil - Ecuador
        div (+593) 96 825 4028
        div wellington.mendoza.contact@gmail.com
        div
          a.link.white.on-underline.ph1(target="_blank" href="https://github.com/well1791/")
            img(src="../assets/img/icons/github32px.png" height="18" width="18")
          a.link.white.no-underline.ph1(target="_blank" href="https://twitter.com/well1791/")
            img(src="../assets/img/icons/twitter400px.png" height="18" width="18")
          a.link.white.no-underline.ph1(target="_blank" href="https://www.linkedin.com/in/wellington-mendoza-826931127/")
            img(src="../assets/img/icons/in14px.png" height="18" width="18")

    section.ph4.lh-copy.w-90-ns
      section.bg-white.mv4.bg-white.black-80.shadow-3
        .bg-dark-teal-90.white.pv3.ph4.f4 Experience
        .ph3-ns
          .dt.w-100.pv3.bb.b--black-10
            .fl.w-20.tr.pr3.br.b--black-20.black-60.f5
              div Stack Builders
              div Jul 2016 - Aug 2018
            .fl.w-80.pl3.measure-wide
              .b T1 - Web Developer
              p.
                I worked as a web consultant for at least three projects,
                also, I had my first community contributions by doing
                presentations at
                <a href="https://www.youtube.com/channel/UC-hUvwCQpNwwvW_eE3iPk5A">Quito Lambda</a>
                Conf.
              div <b>Tech Stack:</b> <code>Haskell</code>, <code>Yesod</code>,
                <code>Node.js</code>, <code>Express.js</code>, <code>Typescript</code>
                <code>Python</code>, <code>Django</code>,
                <code>PHP</code>, <code>Laravel</code>,
                <code>Ruby</code>, <code>Ruby on Rails</code>.

          .dt.w-100.pv3.bb.b--black-10
            .fl.w-20.tr.pr3.br.b--black-20.black-60.f5
              div FUNIBER
              div Dic 2013 - Jul 2016
            .fl.w-80.pl3.measure-wide
              .b Middle - Web Developer
              p.
                This was my <strong>first</strong> job as programmer.
                I worked on a SPA reengineering from an old PHP version
                to a new one. There, I was able to contribute into their
                core framework both in front-end and back-end sides.
                Also, I consider these initiatives as my
                first good contributions to the company:

              ul
                li Pushed the team to use Git and I trained them daily.
                li Integrated the main code with Composer.
                li.
                  Created the first deployment tools for production and staging
                  servers (plain bash script, not proud).
                li.
                  Set up the first local environment shareable throw virtual machines.
                  First VirtualBox, then Vagrant and finally Docker.

              div <b>Tech Stack:</b> <code>PHP</code>, <code>Code Igniter</code>.

          .dt.w-100.pv3.bb.b--black-10
            .fl.w-20.tr.pr3.br.b--black-20.black-60.f5
              div EDCOM - ESPOL
              div 2012 - 2013
            .fl.w-80.pl3.measure-wide
              .b Junior - Seminar Assistant (Linux Server Administration Seminar)

              p.
                My job was to make sure that everybody in the seminar understand
                the classes. Most of the times I was working on Linux servers fixing
                user errors and explaining the reason and solution to those errors.
                The rest of the time I was formating each computer in the lab with
                a fresh Linux installation.

              div <b>Tech Stack:</b> <code>Centos Server v6.3</code>.

      section.bg-white.mv4.bg-white.black-80.shadow-3
        .bg-dark-teal-90.white.pv3.ph4.f4 Skills
        .ph4.pv3 somethin

      section.bg-white.mv4.bg-white.black-80.shadow-3
        .w-100.bg-dark-teal-90.white.pv3.ph4.f4 Education
        .ph4.pv3 somethin

    section.w-100.dt.pl5.white.bg-light-teal-90.pv4
      .f5.lh-copy
        section.
          Languages

        section.
          Interests - About Me

    script(src="../index.js")
