doctype HTML
html(lang="en")
  head
    title Wellington Mendoza - Resume
    meta(name="viewport" content="width=device-width, initial-scale=1")

  body.helvetica.w-100

    section.w-100.bg-dark-teal-90.pv4.pl4
      .f1.f-subheadline-ns.lh-title.white Wellington Mendoza
      .f3.f2-ns.pl3.white-80 Full-Stack Web Developer

    section.w-100.dt.pl5.bg-light-teal-90.pv4.f5.lh-copy
      .fl.pr2.tr.white-80.dn.db-ns
        div City
        div Phone
        div Email
        div Social

      .fl.pl1.tl.white.b
        div Guayaquil - Ecuador
        div (+593) 96 825 4028
        div wellington.mendoza.contact@gmail.com
        div
          a.link.white.on-underline.ph1(target="_blank" href="https://github.com/well1791/")
            img(src="../assets/img/icons/github32px.png" height="18" width="18")
          a.link.white.no-underline.ph1(target="_blank" href="https://twitter.com/well1791/")
            img(src="../assets/img/icons/twitter400px.png" height="18" width="18")
          a.link.white.no-underline.ph1(target="_blank" href="https://www.linkedin.com/in/wellington-mendoza-826931127/")
            img(src="../assets/img/icons/in14px.png" height="18" width="18")

    section.ph4.lh-copy
      section.bg-white.mv4.bg-white.black-80.shadow-3.mw7
        .bg-dark-teal-90.white.pv3.ph4.f3 Experience
        .pv3-ns.ph2-ns
          .bb.b--black-10
            .dt.w-100
              .fl.w-20.pr2.tr.black-60.br.b--black-20
                .f5 Stack Builders
                a.f6(href="https://www.stackbuilders.com/") www.stackbuilders.com
                .f6 Jul 2016 - Aug 2018
                .f6 Quito - Ecuador
              .fl.w-80.ml3.mb3.measure-wide.bb.b--black-10
                .b T1 - Web Consultant
                p.
                  I worked as a web consultant for at least three projects,
                  also, I had my first community contributions by doing
                  presentations at
                  <a href="https://www.youtube.com/channel/UC-hUvwCQpNwwvW_eE3iPk5A">Quito Lambda</a>.

            .dt.w-100
              .fl.w-20.pr2.tr.black-60.br.b--black-20
                .f5 The Guarantors
                a.f6(href="https://theguarantors.com/") theguarantors.com
                .f6 Aug 2016 - May 2017
                .f6 Remote
              .fl.w-80.ml3.mb3.pb3.measure-wide.bb.b--black-10
                .b T1 - Web Developer
                p Worked on their main web application from scratch, which later was used to replace their old SPA.
                .f7.black-60
                  <b>Tech Stack:</b>
                  <code>Node.js</code>, <code>Express.js</code>, <code>TypeScript</code>.

            .dt.w-100
              .fl.w-20.pr2.tr.black-60.br.b--black-20
                .f5 Twilio
                a.f6(href="https://www.twilio.com/") www.twilio.com
                .f6 May 2017 - Feb 2018
                .f6 Remote
              .fl.w-80.ml3.mb3.pb3.measure-wide.bb.b--black-10
                .b T2 - Web Developer
                p.
                  Created and updated documentation content along with
                  their repositories examples at
                  <a href="https://github.com/TwilioDevEd/">github.com/TwilioDevEd</a>.
                  <br>
                  Also, I contributed to their <strong>CMS</strong> code base at
                  <a href="https://www.twilio.com/docs/">twilio.com/docs</a>
                  and <strong>Twilio Quest</strong> at
                  <a href="https://www.twilio.com/quest/">twilio.com/quest</a>.
                .f7.black-60
                  <b>Tech Stack:</b>
                    <code>Python</code>, <code>Django</code>,
                    <code>Node.js</code>, <code>Vue.js</code>,
                    <code>PHP</code>, <code>Laravel</code>,
                    <code>Ruby</code>, <code>Ruby on Rails</code>.

            .dt.w-100
              .fl.w-20.pr2.tr.black-60.br.b--black-20
                .f5 Full Circle
                a.f6(href="http://ilovefullcircle.com/") ilovefullcircle.com
                .f6 Feb 2018 - Aug 2018
                .f6 Remote
              .fl.w-80.pl3.pb3.measure-wide
                .b T1 - Web Developer
                p.
                  Created their web application integrating their own
                  internal services with the system.
                .f7.black-60
                  <b>Tech Stack:</b>
                  <code>Haskell</code>, <code>Yesod</code>.

          .dt.w-100.pv3.bb.b--black-10
            .fl.w-20.tr.pr2.br.b--black-20.black-60.f5
              div FUNIBER
              a.f6(href="https://www.funiber.org/") www.funiber.org
              .f6 Dec 2013 - Jul 2016
              .f6 Guayaquil - Ecuador
            .fl.w-80.pl3.measure-wide
              .b Mid - Web Developer
              p.
                This was my <strong>first</strong> job as a programmer.
                I worked on a SPA reengineering from an old PHP version
                to a new one. There, I was able to contribute into their
                core framework, both in front-end and back-end sides.
                <br>
                Also, I consider these initiatives as my
                first good contributions to the company:
              ul
                li Pushed the team to use Git and I trained them daily.
                li Integrated the main code with Composer.
                li.
                  Created the first deployment tools for production and staging
                  servers (plain bash script, not proud).
                li.
                  Set up the first local environment shareable throw virtual machines.
                  First VirtualBox, then Vagrant and finally Docker.

              .f7.black-60.
                <b>Tech Stack:</b> <code>PHP</code>, <code>Code Igniter</code>.

          .dt.w-100.pv3.bb.b--black-10
            .fl.w-20.tr.pr2.br.b--black-20.black-60.f5
              div EDCOM - ESPOL
              a.f6(href="http://www.edcom.espol.edu.ec/es/cursos-y-seminarios") edcom.espol.edu.ec
              .f6 2012 - 2013
              .f6 Guayaquil - Ecuador
            .fl.w-80.pl3.measure-wide
              .b Junior - Seminar Assistant (Linux Server Administration Seminar)

              p.
                My job was to make sure that everybody in the seminar understand
                the classes. Most of the times I was working on Linux servers fixing
                user errors and explaining the reason and solution to those errors.
                The rest of the time I was formating each computer in the lab with
                a fresh Linux installation.

              .f7.black-60.
                <b>Tech Stack:</b> <code>Centos 6.3</code>.

      section.bg-white.mv4.bg-white.black-80.shadow-3.mw7
        .bg-dark-teal-90.white.pv3.ph4.f3 Tech Skills
        table.w-100.collapse
          tbody
            tr.striped--near-white
              th.w-25.tl
              th.w-25.pa3.tl Proficient
              th.w-25.pa3.tl Competent
              th.w-25.pa3.tl Novice

            tr.striped--near-white
              td.pl4.pv3.b Languages
              td.pl3.tl
                ul.list.pl0
                  li JavaScript
                  li TypeScript
                  li PHP
              td.pl3.tl
                ul.list.pl0
                  li Haskell
                  li Python
              td.pl3.tl
                ul.list.pl0
                  li Ruby

            tr.striped--near-white
              td.pl4.pv3.b Frameworks
              td.pl3.tl
                ul.list.pl0
                  li Express.js
              td.pl3.tl
                ul.list.pl0
                  li Yesod
                  li Vue.js
                  li Django
                  li Laravel
              td.pl3.tl
                ul.list.pl0
                  li React.js
                  li Ruby on Rails
                  li Ansible

            tr.striped--near-white
              td.pl4.pv3.b Databases
              td.pl3.tl
                ul.list.pl0
                  li PostgreSQLP
              td.pl3.tl
                ul.list.pl0
                  li MySQL
              td

            tr.striped--near-white
              td.pl4.pv3.b Tools
              td.pl3.tl
                ul.list.pl0
                  li Tmux
                  li Bash
              td.pl3.tl
                ul.list.pl0
                  li Docker
              td

      section.bg-white.mv4.bg-white.black-80.shadow-3.mw7
        .bg-dark-teal-90.white.pv3.ph4.f3 Education
        .ph3-ns
          .dt.w-100.pv3
            .fl.w-20.tr.pr2.br.b--black-20.black-60.f5
              div ESPOL
              .f6 Jun 2008 - Jun 2016
              .f6 Guayaquil - Ecuador
            .fl.w-80.pl3.measure-wide
              .b Bachelor in Networking and Operating Systems
              ul
                li CCNA
                li Basic Linux Server administration (Centos 6.3)
                li Intermediate Windows Server administration (Widows Server 2008)
                li Intermediate Active Directory Server administration

      section.bg-white.mv4.bg-white.black-80.shadow-3.mw7
        .bg-dark-teal-90.white.pv3.pl4.f3 About me
        .pv3
          p.measure-wide.db.center.
            The story begins when I applied to my first job as a programmer.
            <br>
            I didn't have any programming background at that point as my Bachellor is more about
            Networking and a bit of Linux/Windows Services Administration.
            <br>
            But, there I was, sat in front of a PC thinking <em>"what do I do"</em>,
            I bareley heard about OOP before, so, my first task was to research
            all the important things that I required in that particular moment
            (which was OOP for beginners).
            <br>
            <br>
            So the firsts book I read after I had some programming knowledge was
            <em>The Pragmatic Programmer by Andy Hunt and Venkat Subramanian</em>
            followed by <em>Clean Code by Robert C. Martin</em> but, that was just
            the top of the iceberg for me, after that I started to read more books
            and articles with different topics, shuch as <em>SOLID Principles</em>,
            <em>Design Patterns</em>, <em>Tell Don't Ask</em>, <em>KISS</em>,
            <em>Composition over Inheritance</em>, <em>Agile Scrum</em>,
            <em>Functional Programming</em>, <em>Algorithms</em>, and more.

            <br>
            <br>
            <strong>TL;DR</strong>
            <br>
            I'm an autodidact passionate programmer, committed to follow good practices and good quality.
            <br>
            I'm from Ecuador and native Spanish speaker, I also have a professional English level.

    section.w-100.pa3.white.bg-light-teal-90

    script(src="../index.js")
